.header {
  display: flex;
  margin: 3% 15% 0% 15%;
  border-bottom: 1px solid grey;
}

h1 {
  font-family: 'Cutive Mono',
    serif;
  margin-left: 1.2vw;
  font-size: 3.9vw;
  padding-bottom: 2%;
  height: 15%;
}

.icon {
  height: 5vh;
  width: 3vw;
  margin-top: 1.2vh;
}