h1 {
  font-family: 'Cutive Mono',
    serif;
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
  margin-right: 22%;
  font-size: 300%;
  border-bottom: 1px solid grey;
  padding-bottom: 2%;
}