.section-button-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 0% 20% 0% 20%;
}

.section-button {
  font-family: 'IBM Plex Mono',
    monospace;
}